:root {
  /* Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  /* Neutral */
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
.content-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;
}
/* First grid item one row one column one */
.product-images {
  display: flex;
  flex-direction: column;
}
/* Styling the main image */
.main-image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.main-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.product-images .thumbnails {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.thumbnail {
  height: 80%;
  width: 100%;
  padding-right: 1rem;
}
.thumbnail:last-child {
  padding-right: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* Styling the description section */
/* First grid item two row one column two */
.description {
  padding: 2.5rem 0 0 6rem;
}
.description h4 {
  font-weight: 700;
  font-size: 12px;
  color: var(--Orange);
  margin-bottom: 1rem;
}
.description h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1.3rem;
  color: var(--Very-vark-blue);
}
.description p {
  color: var(--Grayish-blue);
  font-size: 16px;
  letter-spacing: 0.8px;
  margin-bottom: 1.5rem;
}
/* Price tag */
.price-tag {
  display: flex;
  margin-bottom: 1.5rem;
}
.price-tag .prices {
  display: flex;
  flex-direction: column;
}
.price-tag .prices span {
  font-weight: 700;
  color: var(--Very-vark-blue);
}
/* Actual price */
.price-tag .prices span:first-child {
  font-size: 23px;
  padding-bottom: 0.4rem;
}
/* Previous price */
.price-tag .prices span:last-child {
  font-size: 12px;
  text-decoration: line-through;
  color: var(--Grayish-blue);
}
.price-tag > span {
  background-color: var(--Pale-orange);
  color: var(--Orange);
  height: 1.6rem;
  font-weight: 700;
  margin-left: 1rem;
  padding: 0.2rem;
  border-radius: 5px;
  text-align: center;
}
/* Styling minus plus buttons */
.increment-decrement {
  display: flex;
  justify-content: space-between;
}
.increment-decrement > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: var(--Light-grayish-blue);
}
.increment-decrement > div > span {
  padding: 1rem 1.5rem;
}
.increment-decrement > div > span:nth-child(2) {
  font-weight: 700;
}
/* Add to cart button */
.increment-decrement a {
  text-decoration: none;
}
.increment-decrement > a div {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--Orange);
}
.increment-decrement a div img {
  margin-right: 1.5rem;
}

@media screen and (max-width: 1250px) {
  /* Styling the main image */
  .main-image {
    height: 60%;
  }
  .thumbnails {
    height: 40%;
  }
  .thumbnail {
    height: 100%;
  }
  .description {
    height: 100%;
  }
  .increment-decrement a div {
    font-size: 13px;
  }
  .increment-decrement a div img {
    margin-right: 0.5rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .content-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  /* First grid item one row one column one */
  .product-images {
    display: flex;
    flex-direction: column;
  }
  /* Styling the main image */
  .main-image img {
    border-radius: 0%;
    height: 18rem;
  }
  .product-images .thumbnails {
    display: none;
  }
  /* Styling the description section */
  /* First grid item two row one column two */
  .description {
    padding: 1rem 1.5rem;
  }
  .description h2 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .description p {
    margin-bottom: 1rem;
  }
  /* Price tag */
  .price-tag {
    display: flex;
    justify-content: space-between;
  }
  .price-tag .prices {
    flex-direction: row;
  }
  /* Actual price */
  .price-tag .prices span:first-child {
    font-size: 23px;
    padding-bottom: 0.4rem;
  }
  /* Previous price */
  .price-tag .prices span:last-child {
    position: absolute;
    right: 4rem;
    font-size: 15px;
  }
  .price-tag > span {
    position: absolute;
    left: 7rem;
  }
  /* Styling minus plus buttons */
  .increment-decrement {
    flex-direction: column;
  }
  .increment-decrement div:last-child {
    display: flex;
    justify-content: center;
  }
  .increment-decrement a img {
    margin-right: 1rem;
  }
}
